@import "reset";
@import "settings/fonts";
@import "settings/colors";
@import "../components/baskets/styles/carts.scss";
@import "../components/baskets/styles/charts.scss";
@import "../components/baskets/styles/listcarts.scss";

body {
    background-color: $color-blue;
    font-family: $font-base;
    height: 100dvh;
}