$color-white: #FFFFFF;
$color-light-white: #FFFFFFC9;
$color-blank-white: #F0F1F1;
$color-gray: #3C3C3C;
$color-black: #000000;
$color-light-gray: #3C3C3C26;
$color-blue: #136bae;
$color-light-blue: #0615f4;
$color-blank-blue: #0411bf;
$color-blank-black: #1A1818;