.basket {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.basket-container {
    display: flex;
    border: 2px solid blue;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.basket-container:hover {
    background-color: yellow;
}